* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 3rem;
}

.home {
  max-width: 1270px;
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}
.sidebar-btn {
  font-size: 1.75rem;
  color: rgb(78, 78, 192);
  background: none;
  padding: 1.75rem 0;
}

.modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .85rem 1.65rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #191919;
}

.overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
  width: 200px;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}
.close-modal,
.close-sidebar {
  color: red;
  background: none;
  position: absolute;
  right: .85rem;
  top: .85rem;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.7);
  animation-name: openSidebar;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
.logo {
  width: 120px;
}

@keyframes openSidebar {
  100% {width: 500px;}
}



.links {
  flex-grow: 5;
}
.socials {
  flex-grow: 0.2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social-icon {
  color: rgb(78, 78, 192);
}
.link {
  padding: 1.35rem .55rem;
  transition: background .5s ease-in-out;
}
.link:hover {
  background-color: lightblue;
}
.icon {
  margin-right: 1.75rem;
}
.link-text {
  color: #191919;
  font-weight: bold;
  text-decoration: none;
}
.none {
  display: none;
}