* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 0;
}
.title {position: relative;}
.title::after {
  content: '';
  position:absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  height: .35rem;
  width: 60%; 
  background-color: rgb(24, 184, 18);
}

.container {
  width: 1200px;
  margin: 3rem auto;
  padding: 3rem;
}
.review {
  min-height: 400px;
  border: 3px solid #191919;
  padding: 1.75rem .95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .95rem;
}

.arrow {
  cursor: pointer;
  margin: 0 .85rem;
  font-size: 2.45rem;
  color: rgb(24, 184, 18);
}

.img-container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  align-self: flex-end;
}
.img-container img {
  height: 100%;
  width:100%;
  object-fit: cover;
  
}
