* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 0;
}

.title {position: relative;}
.title::after {
  content: '';
  position:absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  height: .35rem;
  width: 60%; 
  background-color: hsl(16, 76%, 72%);
}

.container {
  width: 1200px;
  margin: 3rem auto;
  padding: 3rem;
}
